.root__container {
    border-left: 3px solid rgb(21, 24, 28);
    border-right: 3px solid rgb(21, 24, 28);
    height: fit-content;
}

.reports__header {
    position: sticky;
    top: 0;
    border-bottom: 4px solid rgb(21, 24, 28);
    background-color: black;
    padding: 15px 25px 15px 25px;
    display: flex;
    z-index: 100;
}

.reports__header>h1 {
    font-size: 27px;
}

.reports__contairner {
    flex: 1;
    margin-top: 12px;
    min-width: auto;
    max-width: 1000px !important;
    padding: 20px 20px 20px 20px;
}

.cards__container {
    display: flex;
    margin-left: 20px;
    /* justify-content: space-between; */
}

.report__card {
    padding: 25px;
    background-color: rgb(21, 24, 28);
    margin-right: 40px;
    border-radius: 15px;
    height: 75px;
    min-width: 140px;
}

.report__card>p {
    margin-top: 15px;
    font-size: 22px;
    font-weight: lighter;
}

.flex__container {
    display: flex;
    /* align-items: center; */
    margin: 35px 20px 0px 20px;
    height: fit-content;
    /* justify-content: space-between; */
}

.vrs__container {
    padding: 25px 25px 10px 25px;
    background-color: rgb(21, 24, 28);
    border-radius: 10px;
    width: 100%;
}

.top__container {
    padding: 25px;
    background-color: rgb(21, 24, 28);
    border-radius: 10px;
    min-width: 215px;
    margin-left: 35px;
}

.top__header {
    margin-bottom: 28px;
}

.posts__container {
    padding: 25px;
    background-color: rgb(21, 24, 28);
    border-radius: 10px;
    height: fit-content;
    max-height: 500px;
    overflow: auto;
    margin: 45px 20px 20px 20px;
    /* width: 100%; */
}

.posts__header {
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(77, 81, 85);
    display: flex;
}

#user__header {
    width: 150px !important;
    /* text-align: center; */
}

#date__header {
    margin-left: 20px;
    width: 90px;
    /* text-align: center; */
}

#text__header {
    margin-left: 20px;
    width: 320px;
    /* text-align: center; */
}

#hashtags__header {
    margin-left: 20px;
    /* text-align: center; */
    width: 230px;
}

.vrs__header {
    display: flex;
    margin-bottom: 15px;
}

#fecha {
    border: none;
    height: 10px;
    width: min-content;
    padding-top: 0px;
    /* position: absolute;
    top: 0px;
    right: 0px; */
}

.vrs__date {
    width: min-content;
    height: min-content;
    margin-left: auto;
    /* position: relative; */
}

@media (max-width: 768px) {
    .cards__container, .flex__container {
        display: block;
        width: auto;
    }
    .report__card {
        margin-bottom: 25px;
    }
    .posts__container {
        margin-top: 40px;
        /* margin-left: auto; */
        width: auto;
    }
    .vrs__container {
        display: none;
    }
    .top__container {
        margin-left: 0;
    }
    .posts__header {
        display: none;
    }
    .reports__header>h1 {
        display: none;
    }
    .reports__header {
        position: relative;
    }
}